html {
	margin: 0px;
    padding: 0px;
	height: 100%;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif; 
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #2D2D30;
	border: 1px solid #68217A;
	border-bottom: 24px solid  #68217A;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 50px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

button.clean-gray {
  background-color: #eeeeee;
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; 
  }
  
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

#add-dialog {
    position: relative;
    width: 200px;
}

#add-dialog input {
    width: 194px;
}

#add-dialog button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 0;
}

.container {
	height: 100%;
	display: flex;
	display: -webkit-flex;
}

#sidebar {
    width: 150px;
    background-color:rgb(38, 50, 56);
	color: white;
}

#feeds {
	width: 250px;
	overflow: hidden;
	background-color: yellow;
}

#feeds:hover {
	overflow-y: scroll;
}

#feed-active{
	color: coral;
}

.feed {
	
}

#preview {
	flex: 1;
	background-color: green;
}